<div class="form-group col-md-4">

        <label for="Selector">Single Selector:</label>
        <select id="selector" class="form-control">
          <option selected>Choose any of the item</option>
          <option ng-model="value" ng-repeat="item in data.items" >{{item}}</option>
        </select>{{value}}
</div>
<div class="form-group col-md-4">
        <label for="Selector">Multi-Selector</label>
        <select id="selector" class="form-control">
          <option selected>Choose </option>
          <option ng-repeat="item in data_multi.items">{{item}}</option>
        </select>
</div>
